@{
    // ReSharper disable once Razor.LayoutNotResolved
    Layout = "_GovUkPageTemplate";
    ViewBag.AssetPath = "/assets";
    ViewBag.CompiledContentPath = "/assets";
}
@* ReSharper disable Razor.SectionNotResolved *@
@section Head {
    <link rel="stylesheet" href="~/css/application.css" />
}


@section BodyStart {
    <!--
    <govuk-cookie-banner aria-label="Cookies on Find Education and Training">
        <govuk-cookie-banner-message>
            <govuk-cookie-banner-message-heading>Cookies on Find Education and Training</govuk-cookie-banner-message-heading>
            <govuk-cookie-banner-message-content>
                <p class="govuk-body">We use some essential cookies to make this service work.</p>
                <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
            </govuk-cookie-banner-message-content>
            <govuk-cookie-banner-message-actions>
                <govuk-cookie-banner-message-action text="Accept analytics cookies" type="button"/>
                <govuk-cookie-banner-message-action text="Reject analytics cookies" type="button"/>
                <govuk-cookie-banner-message-action-link text="View cookies" href="#"/>
            </govuk-cookie-banner-message-actions>
        </govuk-cookie-banner-message>
    </govuk-cookie-banner>
    -->
}


@section Header {
    <header class="govuk-header" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a class="govuk-header__link govuk-header__link--homepage" href="/" aria-label="Find Education and Training homepage">
                    <img src="~/assets/images/department-for-education_white.png" alt="Find Education and Training homepage" class="govuk-header__logotype">
                </a>
            </div>
        </div>
    </header>    
    <govuk-service-navigation service-name="Find Education and Training" service-url="@Url.Page("Index")"></govuk-service-navigation>
}

@section BeforeContent { 
    <govuk-phase-banner>
        <govuk-phase-banner-tag>Beta</govuk-phase-banner-tag>
        This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.
    </govuk-phase-banner>
}

@RenderSection("BeforeContent", required: false)

@RenderBody()

@section Footer {
    <govuk-footer>
        <govuk-footer-nav columns="2" class="govuk-footer__section govuk-grid-column-two-thirds">
            <govuk-footer-nav-title>Website information</govuk-footer-nav-title>
            <govuk-footer-nav-items>
                <govuk-footer-nav-item href="#">About us</govuk-footer-nav-item>
                <govuk-footer-nav-item href="#">Help</govuk-footer-nav-item>
                <govuk-footer-nav-item href="#">Privacy and cookies</govuk-footer-nav-item>
                <govuk-footer-nav-item href="#">Accessibility statement</govuk-footer-nav-item>
                <govuk-footer-nav-item href="#">Terms and conditions</govuk-footer-nav-item>
            </govuk-footer-nav-items>
        </govuk-footer-nav>
        <govuk-footer-nav columns="1" class="govuk-footer__section govuk-grid-column-one-third">
            <govuk-footer-nav-title>Sites for other UK countries</govuk-footer-nav-title>
            <govuk-footer-nav-items>
                <govuk-footer-nav-item href="#">Scotland</govuk-footer-nav-item>
                <govuk-footer-nav-item href="#">Wales</govuk-footer-nav-item>
                <govuk-footer-nav-item href="#">Northern Ireland</govuk-footer-nav-item>
            </govuk-footer-nav-items>
        </govuk-footer-nav>
    </govuk-footer>
}

@section BodyEnd {
    @Html.GovUkFrontendScriptImports()
    <script src="js/dfefrontend-2.0.0.min.js" type="module"></script>
    <script src="js/moj-frontend.min.js" type="module"></script>
    <script type="module">
        import * as MOJFrontend from '/js/moj-frontend.min.js'
        MOJFrontend.initAll()
    </script>

    @await RenderSectionAsync("Scripts", required: false)
}
@* ReSharper restore Razor.SectionNotResolved *@
