@page
@using feat.web.Enums
@model HowModel
@{
    ViewBag.Title = "How would you like to search?";
    SearchMethod[] options;
    
    if (Model.Search.AgeGroup is AgeGroup.UnderEighteen && Model.Search.SearchType is SearchType.FE or SearchType.Return)
    {
        options = [SearchMethod.Nearby, SearchMethod.Guided];
    }
    else
    {
        options = Enum.GetValues<SearchMethod>();
    }
}


@section BeforeContent {
    <govuk-back-link href="@Url.Page(Model.Search.GetBackPage("How"))">Back</govuk-back-link>
}

<form method="post">
    <govuk-radios for="SearchMethod">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend class="govuk-heading-l" is-page-heading="true">@ViewBag.Title</govuk-radios-fieldset-legend>
            @foreach (var option in options)
            {
                <govuk-radios-item value="@option">@option.GetDisplayName()</govuk-radios-item>
            }
        </govuk-radios-fieldset>
    </govuk-radios>
    <div class="govuk-button-group">
        <govuk-button type="submit">Continue</govuk-button>
    </div>
</form>