@page
@using feat.web.Enums
@using feat.web.Models
@using feat.web.Utils
@model LocationModel
@{
    ViewBag.Title = SharedStrings.SiteTitle_ExploreYourOptions_GOVUK;
}


@section BeforeContent {
    <govuk-back-link href="@Url.Page(Model.Search.BackPage)">Back </govuk-back-link>
}

<h1 class="govuk-heading-l">Where do you want to study?</h1>
<p>You can search anywhere in England.</p>
<p>Some courses are only available to people living in the local area. This can apply even if it is online training. It is more common for short courses or those aiming to help you find employment. Check with the provider if you are unsure.</p>

<form method="post">
    
    <govuk-input for="Location" input-class="govuk-input--width-20" spellcheck="false" autocomplete="true">
        <govuk-input-label class="govuk-label--m">Enter a town, city or postcode (optional)</govuk-input-label>
    </govuk-input>
    
    <govuk-radios for="Distance">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                    How far would you be happy to travel? (optional)
                </govuk-radios-fieldset-legend>
                @foreach (var option in Enum.GetValues<Distance>())
                {
                    <govuk-radios-item value="@option">@option.GetDisplayName()</govuk-radios-item>
                }
            </govuk-radios-fieldset>
        </govuk-radios>
    
    <div class="govuk-button-group">
        <govuk-button type="submit">Continue</govuk-button>
    </div>
</form>