@page
@using feat.web.Enums
@using feat.web.Models
@model LocationModel
@{
    ViewBag.Title = "Explore your options after school or college - GOV.UK";
    ViewBag.SectionTitle = "Where do you want to study?";
    
    //ViewBag.Description = "We need to know where you live as some courses or training are only available in certain areas.";
}


@section BeforeContent {
    <govuk-back-link href="@Url.Page(Model.Search.GetBackPage(PageName.Location))">Back</govuk-back-link>
}

<h1 class="govuk-heading-l">@ViewBag.SectionTitle</h1>
<p>You can search anywhere in England.</p>
<p>However, some courses are only available to people living in the local area. This is more common for short courses or those aiming to help you find employment. And can apply even if it is online training. Check with the provider if you are unsure. </p>

<form method="post">
    
    <govuk-input for="Location" input-class="govuk-input--width-20" spellcheck="false">
        <govuk-input-label class="govuk-label--m">Enter a town, city or postcode@(Model.Search.SearchType == SearchType.HE ? " (optional)" : "")</govuk-input-label>
    </govuk-input>

    @if (Model.Search.SearchType != SearchType.HE)
    {
        <govuk-radios for="Distance">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                    How far would you be happy to travel?
                </govuk-radios-fieldset-legend>
                @foreach (var option in Enum.GetValues<Distance>())
                {
                    <govuk-radios-item value="@option">@option.GetDisplayName()</govuk-radios-item>
                }
            </govuk-radios-fieldset>
        </govuk-radios>
    }
    <div class="govuk-button-group">
        <govuk-button type="submit">Continue</govuk-button>
    </div>
</form>