@page "{id}"
@using feat.web.Models
@using feat.web.Utils
@model feat.web.Pages.CourseDetails.DetailsCourseModel

@{
    
}
@section BeforeContent {
  <govuk-back-link href="@Url.Page(Model.Search.GetBackPage(PageName.LoadCourses))">Back</govuk-back-link>
}
<h4>DetailsCourse, Id: @(Model.Id)</h4>

<!-- Course based on Beta v8-->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2>@Model.Id</h2>
        <h5>TODO; Currently All static</h5>
      </div>
      
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              About the course
            </h2>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Course type</dt>
                <dd class="govuk-summary-list__value">A Level</dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Level</dt>
                <dd class="govuk-summary-list__value">3</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Entry requirements</dt>
                <dd class="govuk-summary-list__value">GCSEs in relevant subjects such as Science, English or IT</dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Cost</dt>
                <dd class="govuk-summary-list__value">£0.00</dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Course overview</dt>
                <dd class="govuk-summary-list__value">
                  Develop skills through collaborative tasks, assessments, and real-world scenarios.
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <!-- Second Card -->
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Location</h2>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Provider</dt>
                <dd class="govuk-summary-list__value">Leeds College</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">View website<span class="govuk-visually-hidden"> name (Location)</span></a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Provider location</dt>
                <dd class="govuk-summary-list__value">Leeds</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">View on a map<span class="govuk-visually-hidden"> name (Location)</span></a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Course details</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Delivery method</dt>
                <dd class="govuk-summary-list__value">Hybrid</dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Start date</dt>
                <dd class="govuk-summary-list__value">12 June 2026</dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Duration</dt>
                <dd class="govuk-summary-list__value">24 months</dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Hours</dt>
                <dd class="govuk-summary-list__value">Part time</dd>
              </div>

            </dl>
          </div>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
          Go to course
        </button>
        <p>The details we show you comes from the provider. There may be extra information on their website. You can also email or call them if you have any questions or want to discuss your options. </p>

      </div>

      <!-- On the Right side - 1/3 width -->
      <div class="govuk-grid-column-one-third">
        <div class="x-govuk-related-navigation">
          <nav class="x-govuk-related-navigation__nav-section" aria-labelledby="related-navigation-related-content">

            <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">Related links</h2>
            <ul class="x-govuk-related-navigation__link-list">
              <li class="x-govuk-related-navigation__link">
                <a class="govuk-link x-govuk-related-navigation__section-link" href="/browse/education/school-life">Explore jobs and careers you could do after this course</a>
              </li>
              <li class="x-govuk-related-navigation__link">
                <a asp-page="/AboutALevels" class="govuk-link x-govuk-related-navigation__section-link">More information about A Levels</a>
              </li>
            </ul>
          </nav>
        </div>


      </div>


    </div></main>
</div>