@page
@model feat.web.Pages.CourseDetails.DetailsApprenticeshipModel

@{
    
}
@section BeforeContent {
    <!--<govuk-back-link href="Url.Page(Model.Search.GetBackPage(PageName.LoadCourses))">Back</govuk-back-link> -->
    <govuk-back-link href="@Url.Page("/loadcourses")">Back</govuk-back-link>
}


<!-- Apprentiship based on Beta v8-->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">About the course</h2>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Qualification type</dt>
                <dd class="govuk-summary-list__value">Apprenticeship</dd>
              </div>
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Level</dt>
                <dd class="govuk-summary-list__value">5</dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Entry requirements</dt>
                <dd class="govuk-summary-list__value">Some prior experience or interest in the field is desirable</dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Wage</dt>
                <dd class="govuk-summary-list__value">£NaN</dd>
              </div>
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Position available</dt>
                <dd class="govuk-summary-list__value">IT Support Apprentice</dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Course description</dt>
                <dd class="govuk-summary-list__value">Learn from experienced tutors and gain hands-on experience through projects.</dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Location</h2>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Employer</dt>
                <dd class="govuk-summary-list__value">Channel 4</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">View website<span class="govuk-visually-hidden"> name (Location)</span></a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Employer address</dt>
                <dd class="govuk-summary-list__value">27-29 Headingley Ln, Leeds LS6 1BL</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">View on a map<span class="govuk-visually-hidden"> name (Location)</span></a>
                </dd>
              </div>

              <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">About this employer</dt>
                <dd class="govuk-summary-list__value">Channel 4 is a publicly-owned UK broadcaster with a remit to innovate and inspire.</dd>
              </div>
              
              <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">Training provider</dt>
                <dd class="govuk-summary-list__value">Leeds City College</dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Course details</h2>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Delivery method</dt>
                <dd class="govuk-summary-list__value">Work based</dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Start date</dt>
                <dd class="govuk-summary-list__value">22 November 2025</dd>
              </div>
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Duration</dt>
                <dd class="govuk-summary-list__value">18 months</dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Hours</dt>
                <dd class="govuk-summary-list__value">Full time</dd>
              </div>
            </dl>
          </div>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
          Go to Apprenticeship opportunity
        </button>
        <p>The information we show you about a course comes from the provider. If you want to know more about a course visit their website. You can also email or call them if you have any questions or want to discuss your options.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="x-govuk-related-navigation">
          <nav class="x-govuk-related-navigation__nav-section" aria-labelledby="related-navigation-related-content">
            <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">Related links</h2>
            <ul class="x-govuk-related-navigation__link-list">
              <li class="x-govuk-related-navigation__link">
                <a class="govuk-link x-govuk-related-navigation__section-link" href="/browse/education/school-life">Explore jobs and careers you could do after this course</a>
              </li>
              <li class="x-govuk-related-navigation__link">
                <a asp-page="./AboutApprenticeships" class="govuk-link x-govuk-related-navigation__section-link">More information about Apprenticeships</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
    </main>
</div>