@page
@using feat.web.Enums
@model QualificationLevelModel
@{
    ViewBag.Title = "What qualification level are you looking for?";
    
}


@section BeforeContent {
    <govuk-back-link href="@Url.Page(Model.Search.GetBackPage("How"))">Back</govuk-back-link>
}

<form method="post">
    <govuk-radios for="QualificationLevel">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend class="govuk-heading-l" is-page-heading="true">@ViewBag.Title</govuk-radios-fieldset-legend>
            @foreach (var option in Enum.GetValues<QualificationLevel>())
            {
                <govuk-radios-item value="@option">@option.GetDisplayName()</govuk-radios-item>
            }
        </govuk-radios-fieldset>
    </govuk-radios>
    <p><a href="" class="govuk-link">What qualification levels mean</a></p>

    <div class="govuk-button-group">
        <govuk-button type="submit">Continue</govuk-button>
    </div>
</form>