@page
@model SubjectsModel
@{
    ViewBag.Title = "Are there any subjects you're good at or enjoy?";
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section BeforeContent {
    <govuk-back-link href="@Url.Page("How")">Back</govuk-back-link>
}

<form method="post">
    <govuk-radios for="Subjects">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-heading-l">@ViewBag.Title</govuk-radios-fieldset-legend>
            <govuk-radios-item value="true">Yes</govuk-radios-item>
            <govuk-radios-item value="false">No</govuk-radios-item>
            
        </govuk-radios-fieldset>
    </govuk-radios>
    <div class="govuk-button-group">
        <govuk-button type="submit">Continue</govuk-button>
        <a href="@Url.PageLink("JobsOrCareers")" class="govuk-link">Skip this step</a>
    </div>
</form>

@* ReSharper disable once Razor.SectionNotResolved *@
@section Scripts {
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    document.getElementById("Search_Latitude").value = position.coords.latitude;
                    document.getElementById("Search_Longitude").value = position.coords.longitude;
                    document.forms[0].submit();
                });
            }
        }
    </script>
}