@using feat.web.Utils
@model feat.web.Models.ViewModels.NoResults

<h2 class="govuk-heading-m">It looks like we can’t find anything based on your answers</h2>
<p>Here are some things you can try:</p>
<ul class="govuk-list govuk-list--bullet">
    @if (Model.HasFilters)
    {
        <li>removing a filter</li>
    }
    <li><a asp-page="@PageName.Interests">making your search broader</a></li>
    <li>increasing the distance or looking in a <a asp-page="@PageName.Location">different location</a></li>
</ul>