name: Validate - SonarQube

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  pull-requests: read

env:
  JAVA_VERSION: '21'
  DOTNET_VERSION: '10.0.x'

jobs:
  build:
    name: Build, Test and Analyse
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup .NET ${{ env.DOTNET_VERSION }}
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v4
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'microsoft'

      - name: Cache SonarCloud packages
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
        with:
          path: ~/.sonar
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Install dotnet reportgenerator
        run: dotnet tool install --global dotnet-reportgenerator-globaltool

      - name: Restore dependencies
        run: dotnet restore ./src

      - name: Start sonar scanner
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet tool install --global dotnet-sonarscanner
          dotnet sonarscanner begin \
            /o:"dfe-digital" \
            /k:"DFE-Digital_feat" \
            /d:sonar.token="${{ secrets.SONAR_TOKEN }}" \
            /d:sonar.scanner.skipJreProvisioning=true \
            /s:${{ github.workspace }}/SonarQube.Analysis.xml

      - name: Build project
        run: |
          dotnet build . /maxcpucount:1 \
            --framework net10.0 \
            /clp:NoSummary \
            /p:AutomatedRun=true

      - name: Run unit tests
        run: |
          dotnet test . \
            --no-build \
            --collect "XPlat Code Coverage" \
            --logger "trx;LogFileName=TestResults.trx" \
            /p:AutomatedRun=true

      - name: Report unit test results
        uses: dorny/test-reporter@dc3a92680fcc15842eef52e8c4606ea7ce6bd3f3
        if: ${{ !cancelled() }}
        with:
          name: .NET unit test results
          path: "**/*.trx"
          reporter: dotnet-trx

      - name: Generate code coverage report
        run: |
          reportgenerator \
            -reports:./**/coverage.cobertura.xml \
            -targetdir:./CoverageReport \
            -reporttypes:SonarQube \
            -sourcedirs:. \
            -filefilters:"-*/RegexGenerator.g.cs"

      - name: Stop sonar scanner
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet sonarscanner end \
            /d:sonar.token="${{ secrets.SONAR_TOKEN }}"