name: Generate - Zap Scan

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: 'Environment to run scan against'
        required: true
        default: 'Test'
        options:
          - 'Development'
          - 'Test'
          - 'Beta'

run-name: Running ZAP scan against ${{ github.event.inputs.environment }}
jobs:
  zap_scan:
    name: 'Run Zap Scan'
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.inputs.environment }}
    steps:
      - name: 'Checkout source'
        uses: actions/checkout@v4
      
      - name: 'Running ZAP scan against front end https://${{ vars.ENV_PREFIX }}-app-web.azurewebsites.net'
        uses: zaproxy/action-full-scan@v0.13.0
        with:
          target: 'https://${{ vars.ENV_PREFIX }}-app-web.azurewebsites.net'
          allow_issue_writing: 'false'
      
      - name: Add web report
        run: |
          mv report_md.md docs/scans/Web-Security-Scan-Report.md
          git add docs/scans/Web-Security-Scan-Report.md
        continue-on-error: true
        
      - name: 'Running ZAP scan against API https://${{ vars.ENV_PREFIX }}-app-api.azurewebsites.net'
        uses: zaproxy/action-full-scan@v0.13.0
        with:
          target: 'https://${{ vars.ENV_PREFIX }}-app-api.azurewebsites.net'
          allow_issue_writing: 'false'

      - name: Add API report
        run: |
          mv report_md.md docs/scans/API-Security-Scan-Report.md
          git add docs/scans/API-Security-Scan-Report.md
        continue-on-error: true
        
      - name: Commit and Push Reports
        run: |
          git config --global user.name "Documentation Bot"
          git config --global user.email "documentation-bot-bot@users.noreply.github.com"
          git commit -am "Generated zap scan report"
          git push
        continue-on-error: true
